:root {
--main-bcg-color: #ffffff;
--main-color: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--main-bcg-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -----------------HEADER---------------- */

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.header-address>a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.header-address>a:hover,
.header-address>a:focus {
    color: #404BBF;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-header {
    color: #2E2F42;
}

/* -----------------HERO---------------- */

.hero {
    background-color: #2E2F42;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* -----------------ADVANTAGES---------------- */

.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* -----------------EXAMPLES---------------- */

.examples-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

/* -----------------TEAM---------------- */
.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-text {
    font-size: 16px;
    line-height: 1.5x;
    letter-spacing: 0.02em;
}

/* -----------------FOOTER---------------- */

.footer {
    background-color: #2E2F42;
}

.logo-footer {
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* -----------------PORTFOLIO---------------- */

.portfolio-filter-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

